:root {
	--cornflowerblue: 100, 149, 237;
	--cornflowerblue-lighter: 114, 159, 243;
	--cornflowerblue-darker: 67, 128, 241;

	/* Color of text inside things like buttons which have a darker background by default. */
	--inside-font-color: white;
}
