/* custom styling for builtin check boxes,
  borrowed from https://codepen.io/trusktr/pen/wvGzjgV */

:root {
  --cornflowerblue: 100, 149, 237;
}

input[type='checkbox' i] {
  --checkbox-size_: var(--checkbox-size, 14px);
  --checkbox-color_: var(--checkbox-color, var(--cornflowerblue));

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: unset;
  box-sizing: border-box;
  position: relative;
  width: var(--checkbox-size_);
  height: var(--checkbox-size_);
  margin: 3px 4px 0px 3px;
}

input[type='checkbox' i][disabled] {
  opacity: 0.5;
}

input[type='checkbox' i]:focus {
  outline: none;
  outline-offset: 0;
  border-width: calc(2 * var(--checkbox-border-width_));
}

input[type='checkbox' i]:before {
  --checkbox-checkmark-color_: var(--checkbox-checkmark-color, var(--checkbox-color_));
  --checkbox-checkmark-scale_: var(--checkbox-checkmark-scale, 1);
  --checkbox-checkmark-stroke-width_: var(--checkbox-checkmark-stroke-width, calc(0.1275 * var(--checkbox-size_)));

  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg) scale(0);
  height: calc(var(--checkbox-checkmark-scale_) * 55%);
  width: calc(var(--checkbox-checkmark-scale_) * 28%);
  border-bottom: calc(var(--checkbox-checkmark-scale_) * var(--checkbox-checkmark-stroke-width_)) solid
    rgba(var(--checkbox-checkmark-color_), 1);
  border-right: calc(var(--checkbox-checkmark-scale_) * var(--checkbox-checkmark-stroke-width_)) solid
    rgba(var(--checkbox-checkmark-color_), 1);
  transition: 0.1s all;
}

input[type='checkbox' i]:checked:before {
  transform: translate(-50%, -60%) rotate(45deg) scale(1);
}

input[type='checkbox' i]:after {
  --checkbox-border-color_: var(--checkbox-border-color, var(--checkbox-color_));
  --checkbox-border-width_: var(--checkbox-border-width, calc(0.08 * var(--checkbox-size_)));
  --checkbox-border-radius_: var(--checkbox-border-radius, 15%);
  --checkbox-background-color_: var(--checkbox-background-color, var(--checkbox-color_));
  --checkbox-background-opacity_: var(--checkbox-background-opacity, 0.15);

  content: '';
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% - var(--checkbox-border-width_));
  height: calc(100% - var(--checkbox-border-width_));
  background: rgba(var(--checkbox-background-color_), var(--checkbox-background-opacity_));
  border: 0 solid rgba(var(--checkbox-border-color_), 1);
  border-width: var(--checkbox-border-width_);
  border-radius: var(--checkbox-border-radius_);
}

input[type='checkbox' i]:focus:after,
input[type='checkbox' i]:not([disabled]):hover:after {
  border-width: calc(1.5 * var(--checkbox-border-width_));
}
